@mixin small-screen {
    @media screen and (max-width: 768px) {
        width: 366px;
    }
}

@mixin container-full {
    width: 1170px;
    margin: 0 auto;

    @include small-screen();
}

@mixin container-medium {
    width: 768px;
    margin: 0 auto;

    @include small-screen();
}
