// Roboto
$roboto-regular: "Roboto-Regular", sans-serif;
$roboto-medium: "Roboto-Medium", sans-serif;
$roboto-bold: "Roboto-Bold", sans-serif;

// Montserrat
$montserrat-regular: "Montserrat-Regular", sans-serif;
$montserrat-medium: "Montserrat-Medium", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;
